* {
  box-sizing: border-box;
}
.container {
  width: 1500px;
  height: 800px;
  background-color: rgb(105, 169, 244);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 60px;
}
.card {
  width: 70%;
  height: 60%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items:center;

}
.box1 {
  width: 25%;
  height: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(60, 60, 219);
  padding: 10px;
}
.a {
  color: rgb(78, 79, 81);
}
.b {
  font-size: 30px;
}

.box2 {
  width: 25%;
  height: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(60, 60, 219);
  padding: 10px;
}
.a {
  color: rgb(78, 79, 81);
}
.b {
  font-size: 30px;
}

.box3 {
  width: 25%;
  height: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(60, 60, 219);
  padding: 10px;
}
.a {
  color: rgb(78, 79, 81);
}
.b {
  font-size: 30px;
}
